include AUTHORS.rst
include HISTORY.rst
include LICENSE.rst
include README.rst
include requirements.txt
include test-requirements.txt

#include distribute_setup.py
include *.txt
#recursive-include docs *.txt
prune dist
recursive-include cotede/qc_cfg *
